<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
		 <display-name>M-JD2-XXX-XX</display-name>
	<listener>
		<listener-class>homework_1.messenger.servlets.listeners.StatisticListener</listener-class>
	</listener>
</web-app>